[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
channels = {extras = ["daphne"], version = "*"}
colorama = "*"
crispy-tailwind = "*"
django = "*"
django-admin-honeypot-updated-2021 = "*"
django-components = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-formtools = "*"
django-htmx = "*"
django-imagekit = "*"
django-lifecycle = "*"
django-nextjs = "*"
django-taggit = "*"
django-tailwind = "*"
django-template-partials = "*"
django-vanilla-views = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
markdown = "*"
nest-asyncio = "*"
openpyxl = "*"
pandas = "*"
pillow = "*"
playwright = "*"
psycopg2 = "*"
requests = "*"
tqdm = "*"

[dev-packages]
black = "*"
django-browser-reload = "*"
django-debug-toolbar = "*"
djlint = "*"
httpie = "*"
ipython = "*"
psycopg2-binary = "*"
pytest-playwright = "*"

[requires]
python_version = "3.12"
