[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
django-environ = "*"
django-cors-headers = "*"
django-vanilla-views = "*"
django-template-partials = "*"
django-crispy-forms = "*"
django-widget-tweaks = "*"
crispy-tailwind = "*"
django-formtools = "*"
django-lifecycle = "*"
django-components = "*"
django-htmx = "*"
django-taggit = "*"
django-admin-honeypot-updated-2021 = "*"
django-tailwind = "*"
django-filter = "*"
pillow = "*"
markdown = "*"
psycopg2 = "*"
playwright = "*"
requests = "*"

[dev-packages]
black = "*"
djlint = "*"
ipython = "*"
django-debug-toolbar = "*"
django-browser-reload = "*"
httpie = "*"
psycopg2-binary = "*"
pytest-playwright = "*"

[requires]
python_version = "3.12"
