{% load static tailwind_tags component_tags %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="django project">
    <meta name="keywords" content="django, next.js, python, typescript">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{% static 'js/flowbite/2.3.0/flowbite.min.js' %}"></script>
    <script src="{% static 'htmx/1.9.12/htmx.min.js' %}"></script>
    <script>
        htmx.onLoad(function (content) {
            initFlowbite();
        })
    </script>
    {% tailwind_css %}
    {% component_css_dependencies %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      class="bg-gray-100 dark:bg-gray-900">

{% include '_header.html' %}

<div class="container mx-auto max-w-screen-xl px-4 pt-6 pb-24">
    {% block content %}{% endblock %}
</div>

{% include '_footer.html' %}

<script src="{% static 'js/flowbite/2.3.0/darkmode.js' %}"></script>
{% component_js_dependencies %}
<script src="{% static 'js/observe-node-insertion.js' %}"></script>
<script src="{% static "js/toast-messages.js" %}"></script>

{% include "_messages_as_event.html" %}

<script>
    let toastCounter = 1;
    document.body.addEventListener("htmx:responseError", event => {
        console.error("HTMX 요청 에러:", event.detail);
        const message = event.detail.error;
        const tag = "error";
        const toast_id = toastCounter;
        toastCounter++;
        htmx.trigger(document.body, "toast-message", {message, tag, toast_id});
        initFlowbite()
    });
</script>

</body>
</html>
